- if @following.include? nil
  %table.table.table-hover.table-condensed.table-striped#categories-table
    %tr
      %td#header
        Following
    - @following.each do |f|
      %tr
        %td
          = f.name
- else
  %h4
    = 'You are currently not following anyone!!'