%table.table.table-hover.table-condensed.table-striped#categories-table
  %tr
    %td#header
      Tracks
    %td#header
      Preview
  - @tracks.each do |track|
    %tr
      %td
        = track.name
      %td
        = render partial: 'shared/audio_link', locals: {url: track.preview_url}