%form{:name => "track", :action => "/", :method => "get", :enctype => "text/plain"}
  %fieldset
    .filters-artist
      %input{:type => "text", :name => "query", :class => "text-input"}
      %input{:type => "submit", :value => "Search Tracks", :class => "btn btn-success"}

%br

- if @tracks
  = render partial: 'list_table', locals: {artists: @tracks}