.main-heading {

	color: black;

}

.filters-artist {
	float: left;
}

.text-input {
	width: 1500px;
	margin-left: 20px;
}

.playlist-name {
	width: 430px;
}

.user-id {
	font-weight: bold;
	padding-right: 20px;
}